body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.todo {
  padding-top: 5em;
  background-image: url("https://i.pinimg.com/originals/3d/29/18/3d291877ec002841315d22d08a125374.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  height: 98vh;
}

.add_parent {
  display: flex;
  width: 60%;
  gap: 1em;
}

.add_parent button {
  font-size: 1.2em;
  border: none;
  height: 2.2em;
  width: 2.2em;
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.add_parent input {
  font-size: 1.5em;
  padding: 0.5em 1em;
  width: 100%;
  border: none;
  background-color: #242124;
  border-radius: 2em;
  color: inherit;
}

input:focus {
  outline: none;
}

.task_parent {
  overflow-y: scroll;
  height: auto;
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
}

.task h2 {
  width: 18em;
  word-wrap: break-word;
}

.task button {
  border: none;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  font-size: 1em;
  color: rgb(97, 96, 96);
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}
